/*Globals */

html {
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    width: 1280px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
/*Navbar */
.navbarActive {
    border-bottom: 3px solid #615ed6;
    border-radius: 2px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.logo {
    font-family: Libre Baskerville, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 19.1818px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);
}
.nav {
    text-align: right;
    margin-left: auto;
}
.nav_menu {
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    display: flex;
}
.link {
    display: block;
    padding-bottom: 10px;
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.9);
}
.mobileMenu {
    display: none;
}
.mobile_container {
    position: absolute;
    top: 60px;
    padding: 10px;
    left: 0;
    height: 250px;
    width: 100vw;
    z-index: 2;
    color: #000;
}
.innerNav {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    color: #000;
    padding: 15px;
}
.hideDiv {
    display: none;
}

/*Button styles */
.app_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 425px;
    height: 70px;
    background: #615ed6;
    border-radius: 8px;
    outline: none;
    border-color: #615ed6;
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

/*Layout styles */
.main_body_container {
    margin-top: 6rem;
}

/*Inroduction styles */
.intro_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}
.intro_left {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.intro_left_intro_text,
.intro_right_intro_text {
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #615ed6;
}

.intro_name {
    text-transform: uppercase;
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: rgba(255, 255, 255, 0.9);
    width: 322px;
    height: 140px;
}
.intro_name_bar {
    margin-top: 1.5rem;
    width: 80px;
    height: 12px;
    background: rgba(97, 94, 214, 0.4);
    opacity: 0.6;
    border-radius: 4px;
}
.inro_view_cv {
    margin-top: 3.5rem;
}
.intro_right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.intro_right__title {
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 44px;
    color: rgba(255, 255, 255, 0.9);
}
.intro_right_main_text {
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #838599;
    margin-top: 2rem;
}
.intro_right_social_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

/* Proficiency styles*/
.proficiency {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.proficiency_title {
    height: 62px;
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    color: rgba(255, 255, 255, 0.9);
}
.proficiency_main_text {
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #838599;
    margin-top: 3rem;
}
.proficiency_areas {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.proficiency_area_box {
    height: 208px;
    width: 250px;
    background: rgba(97, 94, 214, 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.proficiency_area_box:nth-child(2) {
    height: 208px;
    width: 250px;
    background: rgba(97, 94, 214, 0.5);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.proficiency_area_box p {
    margin-top: 2.5rem;
    height: 20px;
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
}
.proficiency_button {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proficiency_skills {
    margin-top: 4rem;
    width: 100%;
    overflow: hidden;
}

.main_skills_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.ul_skills_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: rgba(97, 94, 214, 0.15);
    border: 1px dashed rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}
.ul_skills_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.table_skills {
    width: 150px;
    padding: 15px;
}
.table_skills li {
    list-style-type: disc;
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    color: #b0b1bc;
}
.proficiency_skills_title {
    text-align: center;
    display: block;
    font-family: Libre Baskerville, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #615ed6;
}

/*Experience styles */
.experience {
    margin-top: 4rem;
    width: 100%;
    overflow: hidden;
}

/*Review styles */
.review_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}
.review_container_review {
    display: flex;
    flex-direction: column;
    background: rgba(97, 94, 214, 0.2);
    border-radius: 8px;
    gap: 1rem;
    width: 300px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    height: 290px;
}
.review_top {
    display: flex;
    flex-direction: row;
}
.review_top .left {
    position: absolute;
    width: 116px;
    height: 116px;
    left: -36px;
    top: -58px;
    background: rgba(97, 94, 214, 0.4);
    opacity: 0.8;
    border-radius: 50%;
}
.review_top .right {
    margin-left: auto;
}
.review_top .right img {
    width: auto;
    height: auto;
}
.review_middle {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
.review_middle .left {
    width: 1px;
    background: #615ed6;
}
.review_middle .right {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #b0b1bc;
}
.review_bottom {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #d7d9ef;
}
.review_bottom span:nth-child(1) {
    margin-right: auto;
}

/* Contact Styles */
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-bottom: 3rem;
}
.contact_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.contact_left .proficiency_title {
    text-transform: uppercase;
}
.contact_left .contact_title_text {
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #838599;
    width: 74%;
}
.message_container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}
.message_container_title {
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #d7d9ef;
}
.message_container_title_text {
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #838599;
}
.message_box {
    width: 100%;
    padding: 0 30px;
}
.error_hint {
    margin-bottom: 0.5rem;
    color: #838599;
    font-family: Libre Baskerville, sans-serif;
    font-size: 10px;
}
.message_box input,
.message_box textarea {
    width: 100%;
    background: rgba(97, 94, 214, 0.18);
    border-radius: 8px;
    padding: 15px;
    outline: none;
    border: none;
    margin-bottom: 13px;
}
.contact_submit_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.contact_submit_btn button {
    width: 60%;
}
.contact_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}
.img_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.img_div img {
    clip-path: inset(0px 0px 50px 0 round 80px);
    width: 400px;
    height: 520px;
}
.contact_right_socials {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact_right_socials .socials_title {
    text-align: center;
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #838599;
}
.socials_container .socials {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.socials_container .socials .left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 25%;
}
.socials_container .socials .left img {
    width: 24px;
    height: 23.1px;
}
.socials_container .socials .left span {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(131, 133, 153, 0.8);
}
.socials_container .socials .right {
    font-family: Libre Baskerville, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #d7d9ef;
}
.response_message_success {
    margin-top: 1.5rem;
    color: greenyellow;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.response_message_error {
    margin-top: 1.5rem;
    color: red;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*Footer styles*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-family: Libre Baskerville, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}
.input_error {
    outline: 1px solid red !important;
}

/*Project styles */
.projects {
    overflow: hidden;
    margin-bottom: 5rem;
}
.projects_container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.project_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.project_img img {
    object-fit: cover;
    width: 400px;
    height: 293px;
}
.project_btns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.project_btns button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 150px;
    outline: none;
    border: none;
    background: linear-gradient(283.57deg, #7a66e1 6.6%, #8881d7 69.5%, rgba(102, 173, 204, 0.9) 116.55%);
    border-radius: 30px;
}

.footer div,
.footer span {
    color: #838599;
}

/*for mobile */
@media (max-width: 768px) {
    .hideDiv {
        display: block;
    }
    .mobileMenu {
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 8px;
        display: block;
        z-index: 5;
    }
    .nav_menu {
        display: none;
    }
    .isMobileActive {
        border: 1px solid #615ed6;
    }
    .closeMobile {
        display: none;
    }
    .sm {
        color: #000;
    }
    .navbarActive {
        background: #615ed6;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding-top: 5px;
        color: #fff;
        padding-left: 10px;
    }
    .intro_container {
        flex-direction: column;
        gap: 2rem;
    }
    .app_button {
        width: 225px;
    }
    .intro_left {
        flex: 1;
        width: 100%;
    }
    .inro_view_cv {
        margin-top: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .intro_right {
        flex: 1;
    }
    .intro_name {
        width: 222px;
    }
    .intro_right_social_icons {
        width: 100%;
    }
    .proficiency_title {
        font-size: 35px;
    }
    .proficiency_areas {
        flex-direction: column;
    }
    .proficiency_main_text {
        font-size: 15px;
    }
    .ul_skills_container {
        width: 100%;
    }
    .ul_skills_body {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .review_container {
        flex-direction: column;
    }
    .review_container_review {
        gap: 1rem;
        width: 290px;
        height: max-content;
    }
    .contact {
        flex-direction: column;
    }
    .message_container_title_text {
        text-align: center;
    }
    .contact_submit_btn button {
        width: 80%;
    }
    .img_div img {
        height: 306px !important;
        width: 315px !important;
    }
    .projects_container {
        flex-direction: column;
    }
    .project {
        width: 100%;
    }
    .project_img img {
        width: 100%;
        height: 100%;
    }
    .socials_container .socials {
        flex-direction: column;
    }
    .socials_container .socials .left {
        flex-direction: column;
        width: auto;
    }
}

@media (max-width: 390px) {
    .ul_skills_body {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .table_skills {
        width: 45%;
        padding: 10px;
    }
    .experience_icon_style {
        font-size: 10px;
    }
    .proficiency_main_text {
        font-size: 15px;
    }
}
